<div *ngIf="visible" class="detalles-movimiento">
    <p>{{detalles}}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cuGxjMfDJQw" title="YouTube video player" 
    frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture" 
    allowfullscreen></iframe>
</div>

<div class="container-tarjetas" *ngIf="movimientos">
    <article *ngFor="let movimiento of movimientos">
        <app-tarjeta [movimiento]="movimiento" (movimientoAMostrar)="mostrarDetalles($event)"></app-tarjeta>
    </article>
</div>