.container-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    margin-top: 2px;
    margin-bottom: 6px;
    justify-content: center;
}

.detalles-movimiento {
    margin-bottom: 25px;
}