<h1>Detalles del pokemon</h1>

<table class="table table-striped">
   <thead>
 <tr>
   <th scope="col">ID</th>
   <th scope="col">Nombre</th>
   <th scope="col">Tipos</th>
   <th scope="col">Habilidades</th>
 </tr>
</thead>
<tbody>
 <tr>
   <th scope="row">{{pokemon.id}}</th>
   <td>{{pokemon.nombre}}</td>
   <td>{{pokemon.tipo1}}</td>
   <td>{{pokemon.habilidades}}</td>
 </tr>
</tbody>
<br>

<ul class="list-group">
   <li class="list-group-item"><h4>Movimientos</h4></li>
   <li class="list-group-item list-group-item-info" *ngFor="let movimiento of pokemon.movimientos">{{movimiento}}</li>

 </ul>

<br>
<h4>Estadisticas</h4>

</table>
      <table class="tabpokemon">
         <tbody>
            <tr class="enlacesblancos">
               <th></th>
               <th colspan="2">Estadisticas</th>
            </tr>
            <tr>
               <th class="enlacesblancos">HP</th>
               <td style="width:3em">45</td>
               <td style="width:257px">
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 45/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Attack</th>
               <td>{{pokemon.habilidades[1]}</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 49/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Defense</th>
               <td>49</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 49/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Special-attack</th>
               <td>65</td>
               <td>
                  <div class="float-app" style="background-color: #F7D358; border: 1px solid #DBA901; width: calc(100% * 65/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">special-defense</th>
               <td>65</td>
               <td>
                  <div class="float-app" style="background-color: #F7D358; border: 1px solid #DBA901; width: calc(100% * 65/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Speed</th>
               <td>45</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 45/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr class="enlacesblancos">
               <th>Total</th>
               <th>318</th>
            </tr>
            <tr></tr>
         </tbody>
      </table>