<h1>Detalles del pokemon</h1>
<span>Este es el id: {{pokemon.id}}</span> <br>
<span>Este es el nombre: {{pokemon.nombre}}</span>

      <table class="tabpokemon">
         <tbody>
            <tr class="enlacesblancos">
               <th></th>
               <th colspan="2">Stats</th>
            </tr>
            <tr>
               <th class="enlacesblancos">HP</th>
               <td style="width:3em">{{pokemon.estadisticas.hp}}</td>
               <td style="width:257px">
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 45/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Attack</th>
               <td>{{pokemon.estadisticas.ataque}}</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 49/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Defense</th>
               <td>{{pokemon.estadisticas.defensa}}</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 49/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Special-attack</th>
               <td>{{pokemon.estadisticas.ataque_especial}}</td>
               <td>
                  <div class="float-app" style="background-color: #F7D358; border: 1px solid #DBA901; width: calc(100% * 65/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">special-defense</th>
               <td>{{pokemon.estadisticas.defensa_especial}}</td>
               <td>
                  <div class="float-app" style="background-color: #F7D358; border: 1px solid #DBA901; width: calc(100% * 65/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr>
               <th class="enlacesblancos">Speed</th>
               <td>{{pokemon.estadisticas.velocidad}}</td>
               <td>
                  <div class="float-app" style="background-color: #FAAC58; border: 1px solid #FF8000; width: calc(100% * 45/257); border-radius:5px; height:12px"></div>
               </td>
            </tr>
            <tr class="enlacesblancos">
               <th>Total</th>
               <th>318</th>
            </tr>
            <tr></tr>
         </tbody>
      </table>