div.contenedor-inferior {
    text-align: center;
}

img.pokemon-tipo {
    height: 20px;
}

table.tabpokemon {
    margin-bottom: 25px;
}

table.tabstats {
    margin-bottom: 50px;
}

ul.lista-movimientos {
    column-count: 9;
}

li.movimiento-item {
    background-color: #3B3B3B;
    color: white;
    text-align: center;
    padding: 5px;
    list-style: none;
    margin-bottom: 20px;
}

.titulo-lista{
    font-size: 30pt;
    margin-bottom: 30px;
}