.main{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card-container{
    background: linear-gradient(to right, #fad61f, #fad61f );
    width: 250px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.background {
    text-align: center;
    background: linear-gradient(to right, #6a5b0e, #504921 );
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image{
    width: 200px;
    height: 200px;
}

.content{
    background: linear-gradient(to right,#f5e593, #fff2af );
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name{
    font-family: 'Pokemon Solid', 'Times New Roman', Times, serif;
    color: #ffcc03;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    padding: 10px;
    -webkit-text-stroke: 0.9px blue;
}

.pokemon-logo{
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.pokemon-tipe1{
    width: 110px;
    height: 45px;
}

.pokemon-stats > p {
    letter-spacing: 1px;
}
