<div class="pokemon-card-container" (click)="visualizarDetalles($event)">
    <div class="pokemon-card">
        <div class="background">
            <app-sprite [id]="pokemon.id"></app-sprite> 
        </div>
        <div class="content">
            <h1 class="pokemon-name">{{pokemon.nombre | uppercase}}</h1>
        <div class="pokemon-stats">
            <img [src]="obtenerURL(pokemon.tipo1)" class="pokemon-tipe1" [alt]="pokemon.tipo1">
            <img *ngIf="pokemon.tipo2" [src]="obtenerURL(pokemon.tipo2)" class="pokemon-tipe1" [alt]="pokemon.tipo2">
        </div>
        <h1 class="pokemon-logo">Pokecard</h1>              
        </div>    
    </div>
</div>