nav.menu_principal {
    border-top: #AAA 2px solid;
    border-bottom: #AAA 2px solid;
    background-color: #EEE;
}

nav.menu_principal ul {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
}

nav.menu_principal ul>li {
    display: inline-block;
    padding: 15px;
    height: 60px;
    line-height: 30px;
}

nav.menu_principal ul>li>a {
    text-decoration: none;
    color: black;
}

.seleccionado {
    background-color: rgba(255, 0, 43, 0.411);
}