/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-image: url('https://raw.githubusercontent.com/vmartinez33/pokemon_images/main/fondo.png');
}
