header div.fondo_titulo {
    background-image: url(src/assets/img/cabecera.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

header div.fondo_titulo span{
    font-weight: bold;
    color: white;
    vertical-align: middle;
    line-height: normal;
    font-size: 36px;
    background-color: rgba(214, 122, 18, 0.205);
}

header.titulo_principal h1{
    margin: 0px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: #e3e1ec;
}