header div.fondo_titulo {
    background-image: url('https://raw.githubusercontent.com/vmartinez33/pokemon_images/main/cabecera.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    line-height: 150px;
    text-align: center;
}

header div.fondo_logo {
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: linear-gradient(to right, #d15151, #bd0f03 );
}

img.logo {
    width: 250px;
}

